<div id="headerwrap">
  <div class="container">
    <div class="Roundingw">
      <div class="col-lg-6">
        <h1>Welcome<br/>
          to the Skill Matrix</h1>
          <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg">Login</button>
          <button type="submit" class="btn btn-warning btn-lg">Sign Up</button>
          </div>
      </div><!-- /col-lg-6 -->
      <div classs="col-lg-6">
        <%= image_tag("ipad-hand.png", :class => "img-responsive") %>
      </div><!-- /col-lg-6 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Landing Page<br/>Looks Wonderful Now.</home/1>
        <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
    </div>
  </div><!-- /row -->

  <div class="row mt centered">
    <div class="col-md-4">
      <%= image_tag("ser01.png", :width => "180") %>
      <h4>Find Personel to work with</h4>
      <p>Lorem Ipsum is simply dummy text of the Pagerinting and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
    </div><!--/col-lg-4 -->

    <div class="col-md-4">
      <%= image_tag("ser02.png", :width => "180") %>
      <h4>Email Associates</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

    </div><!--/col-lg-4 -->

    <div class="col-md-4">
      <%= image_tag("ser03.png", :width => "180") %>
      <h4>Gather Project data from ongoing projects</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

    </div><!--/col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->

