<div class="hero-unit">
  <h1 class="text-left">Skill Matrix</h1>
  <p>Welcome Tagline Here</p>
  <p>
  <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-large" %>
  </p>
  <%= link_to "Sign Up Now", new_user_registration_path %>
</div>

