<%= render "shared/flash_messages" %>
<h3>Survey Builder</h3>

<div class="pull-right">
<%= link_to "Add a new Survey", new_survey_path, :class => "btn btn-primary", :remote => true %>
</div>

<ul id="survey-builder-nav" class="nav nav-tabs">
    <li id="survey-builder-home" class="active"><a href="#">Home</a></li>
</ul>

<br/>
<div id="survey-builder-yield">
  <div id="survey-builder-home">
    hello from home
  </div>
</div>


