<div id="survey-builder-flash-messages"></div>
<h3>Survey Builder</h3>
<div class="pull-right">
  <%= link_to "Edit an Exisiting Survey", admin_surveys_path, :id => "edit-survey-btn", :class => "btn btn-warning admin-survey-control", :remote => true %>
  <%= link_to "Add a new Survey", new_survey_path, :class => "btn btn-primary", :remote => true %>
</div>

<ul id="survey-builder-nav" class="nav nav-tabs">
  <li id="survey-builder-home" class="active"><a href="#">Home</a></li>
</ul>

<br/>
<div id="survey-builder-yield">
  <div id="survey-builder-home" class="row">
    <%= render 'survey_builder_home' %>
</div>
</div>


