<div class="panel panel-info">
  <div class="panel-heading">Profile</div>
  <div class="panel-body voffset3">
    <table class="table table-condensed table-curved table-striped table-hover">
      <tbody>
      <tr><td>Email: </td> <td><%= @user.email %></td></tr>
      <tr><td>Office Phone: </td> <td><%= @profile.office_phone %></td></tr>
      <tr><td>Cell Name: </td> <td><%= @profile.cell_phone %></td></tr>
      <tr><td>Department: </td> <td><%= @profile.department %></td></tr>
      </tbody>
    </table>
  </div>
</div>


