<div class="panel panel-info">
  <div class="panel-heading">Skills</div>
  <div class="panel-body">
     <table class="table table-condensed table-curved table-striped table-hover" id="profile-skills">
      <thead>
        <tr>
          <th>Skill</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
      <% @user.skills.each do |skill| %>
        <% if skill.user_skills.first.rating.score > 1 %> <%#TODO fix this later with a better way to capture no skill attempt %>
          <tr>
            <td><%= skill.name %></td>
            <td><%= skill.user_skills.first.rating.score %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
  </div>
</div>

