<h1> Index of surveys here </h>

    <div class="surveys">
        <%= @surveys.each do |survey| %>
            <li>
            <%= survey.name %>
            </li>
        <% end %>
    </div>
    
