<h1> Ratings Index </h1>

<table id="ratings">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Skill Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <% @table_data.each do |row| %>
                <tr>
                    <td><%= link_to row.user_email, user_path(row.user_id) %></td>
                    <td><%= row.skill_name %></td>
                    <td><%= row.rating_score %></td>    
                </tr>
        <% end %>
    </tbody>
</table>
