<h1> Ratings Index </h1>

<table id="ratings">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Skill Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <% user.skills.each do |skill| %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= skill.name %></td>
                    <td><%= skill.rating.score %></td>    
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
