<h1> Ratings Index </h1>

<table id="ratings">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Skill Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <% user.ratings.each do |rating| %>
              <% if rating.score != 1 then %>
                <tr>
                    <td><%= link_to user.email, profile_path(user) %></td>
                    <td><%= rating.user_skill.skill.name %></td>
                    <td><%= rating.score %></td>    
                </tr>
              <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>
