<fieldset>
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="input-group input-group-sm">
      <span class="input-group-addon"><i class="fa fa-question-circle"></i></span>
      <%= f.text_field :text, :class => "form-control", :placeholder => "Enter a Question" %>
  </div>
</div>
    <div class="panel-body horizontal-form">
      <select class="form-group">
        <option>Currently only text area selectable for answer</option>
      </select>

      <div id="option-form">
        <textarea class="form-control" placeholder="User will enter some text here" rows="3" disabled></textarea>
      </div>

    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= f.hidden_field :_destroy %>
        <%= link_to "remove", '#', :class => "btn btn-danger remove_fields" %>
      </div>
  </div>
</div>
</fieldset>
