<h1 class=""><%= @survey.name %></h1>
<p>Please rate yourself on the following skill fields.<br/>
<small>Note that this page does not need to be submitted</small></p>

<% @ratings.each do |rating| %> 
  <div class="row background-transparent">
  <div class="col-md-9">
    <%= render 'skill_rating_form', :rating => rating %>
  </div>
</div>
<% end %>

