// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#name
{
  position: relative;
  padding-left: 180px;
  font-size: 30px;
}

#title
{
  position: relative;
  padding-left: 200px;
  font-size: 18px;
}

#edit-profile-button
{
  position: relative;
  margin-top: -55px;
}

.profile-back
{
  background-image:asset-data-url('background-profile.jpg')
}

.profile-pic
{
  margin-top: 50px;
  width: 120px;
  margin-left: 43px;
  margin-bottom: -60px;
}

