// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Rating Stars */

li.rating_star {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0; 
    width: 32px;
    height: 32px;
    background: image-url("star.png") top left;
} 

li.rating_star.on {
    background: image-url("star.png") 0 -32px;
} 

