<div class="panel panel-primary">
  <div class="panel-heading">Please rate yourself on the following.</div>
  <div class="panel-body inline">

    <% @survey_skills.each_with_index do |skill, index| %>
      <%= f.fields_for :user_skill_ratings, :index => index do |rating_field| %>
        <div class="row col-md-12">
          <h5><%= skill %></h5>
        </div>
        <div class="row pull-right">
          <% user_skill_rating = user_skill_ratings[skill] %>
          <%= rating_field.hidden_field :skill, :value => skill %>
          <%= rating_field.number_field :score, :class => "rating", :min => 0, :max => 5, :value => user_skill_rating %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>

