<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu">
<h3>Mass Mailer</h3>
<div id="mailer-list"></div>
<div id="mailer-submit">
<button class="btn btn-success">Submit button</button>
</div>
</nav>

