<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu">
<h3>Mass Mailer</h3>
<div id="mailer-list">
<a href="#">some email addys</a>
<a href="#">need to be added in realtime</a>
<a href="#">please do this</a>
<a href="#">testout a veryvery extra very long email address phrase here .......... end </a>
<a href="#">running@outofthings.totype.com</a>
</div>

<div id="mailer-submit">
<button class="btn btn-success">Submit button</button>
</div>
</nav>

