<ul class="nav nav-pills nav-stacked" id="side-menu">
  <li>
  <%= link_to '<i class="fa fa-dashboard fa-fw"></i> Home'.html_safe, root_url %>
  </li>
  <li>
  <%= link_to '<i class="fa fa-table fa-fw"></i> Survey Index'.html_safe, surveys_path %>
  </li>
  <li>
  <%= link_to '<i class="fa fa-flask fa-fw"></i> Project Index'.html_safe, projects_path %>
  </li>
</ul>

