<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu">
<h3>Mass Mailer</h3>
<div id="mailer-list"></div>
<div id="mailer-submit">
  <%= link_to "Compose Email", "#", :id => "compose-email-link", :class => "btn btn-success" %>
</div>
</nav>

